/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

html, body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  font-weight: 1000;
}

:root {
  --ifm-color-primary: #ffb032;
  --ifm-color-primary-dark: #ffb032;
  --ifm-color-primary-darker: #ffb032;
  --ifm-color-primary-darkest: #ffb032;
  --ifm-color-primary-light: #ffb032;
  --ifm-color-primary-lighter: #ffb032;
  --ifm-color-primary-lightest: #ffb032;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.footer--dark, .footer {
  --ifm-footer-background-color: #2f3542;
}

a.navbar__item {
  font-weight: 600 !important;
}

ul.menu__list {
  font-weight: 1000;
}

.cards {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.cards a {
  text-decoration: none !important;
  color: var(--ifm-hero-text-color) !important;
}

.card {
  height: 200px;
  width: 200px;
  padding: 20px;
  text-align: left;
  border: 2px solid #95a5a6;
  transition: 0.3s;
  cursor: pointer;
  margin: 30px;
}

.card:hover {
  border: 2px solid #ffb032;
}

h1 {
  display: block;
}

.title {
  padding: 30px;
  padding-bottom: 0;
}

.title h1 {
  font-weight: 3000;
  font-size: 60px;
}

section.features_src-pages {
  padding-top: 0;
}